@charset "ISO-8859-1";

body{
	margin: 0px;
	padding: 0px;
	font-family: cursive;
}


.header{
	width: 100%;
	height: 60px;
	text-align:center;
	background-color: olive;
}

.container{
	width: 99.7%;
	height: 500px;
	display: flex;
	gap:50px;
	justify-content: center;
	align-items:center;
	
	border: 3px solid blue;
}

.box{
	width: 30%;
	height: 400px;
	border: 3px solid red;
	border-radius: 0px 25px 0px 25px;
	background-color: orange;
}

.box img{
	width: 100%;
	height: 300px;
	border-radius: 0px 25px 0px 0px;
}

.container .box p{
	margin: 0px;
	
}

.footer{
	width: 100%;
	height: 950px;
	display: flex;
	background-color: lightblue;
	border-bottom: 5px solid black;
	
}

.left{
	width: 35%;
	
	background-color: lightblue;
	border: 3px solid olive;
}

.sponser{
	width: 100%;
	height: 300px;
	text-align: center;
	
}

.sponser img{
	width: 90%;
	height: 300px;
}

.right{
	width: 65%;
	gap:2%;
	border: 3px solid olive;
	
}

.right-box{
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:70px;
	margin-top: 30px;
}

.box-box1 video{
	border: 2px solid red;
	border-radius: 3%;
}






